
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* font style  */
.hind-siliguri-light {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* shared Styel */

.display_flex{
    display: flex;
}
/* green 01 */
.green_01{
    color: #43BB76;

}

.primary-btn{
    background-color: #43BB76;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    padding: 14px 20px;
}

/* header  Related style */

nav {
    max-width: 1440px;
    margin: 0 auto;
}

.logo{
    margin-top: 20px;
    width: 100%;
}

.headere-section{
    justify-content: space-between;
    background-color: #FFFFFF;
    opacity: 1.0;
    margin-top: 30px;
}  

.header-tags{
    list-style: none;
    text-decoration: none;
    color: #3F3F3F;
    padding: 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 22px;
   
}

.bangla-btn{
    text-align: center;
     font-size: 1rem;
    background-color: #F8FAFC;
     justify-content: center;
     text-align: center;
    /* max-width: 67px;
    max-height: 29px; */
    text-align: center;
    border: 0.5px solid #9196A1 ;
    border-radius: 5px;
    padding: 12px;
     
}

.headaer-btn-section{
    gap: 20px;
    /* border: 2px solid black; */
}


.hotline-number{
    font-size: 1rem;
    font-weight: 600;
    
    
    
}

.p-btn{
    background-color: #43BB76;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
}

.phone_icon{
   width: 15px;
   height: 15px;
   margin-top: 22px;
}

/* discount section */

.discount{
    background-color: #F4F7FD;

   

    
}

.discount-container{
    
    
    background-image: url("/images/11_bg\ 1\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover ;
    
    margin-right: 140px;
    margin-left: 140px;
    gap: 314px;
    justify-content: center;
    align-items: center;
   

}
.discount-title{
    font-size: 2.6rem;
    color: white;
    font-weight: 700;

}
.discount-desc{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    max-width: 480px;
}

.discoutn-number{
    /* margin-left: 69px; */
    margin-bottom: 71px;
}
.discoutn-img{
    /* margin-left: 69px; */
    
}
.discount-section-img{
    max-width: 424px;
 
    
   
}

/* skill section style */
.skill-title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0px;

}

.skill-desc{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #676F7C;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-right: 130px;
    
}


.skill-section{
    
    /* border: 1px solid gold; */
    background-color: #FFFFFF;
    max-width: 524px;

    padding: 20px 40px 20px 30px;
   
    margin-left: 217px;
    margin-right: 20px;
    border-radius: 8px;
}

.banner-img{
    margin-top: 100px;
    width: 100%;
    margin-bottom: 0px;
}

.skill-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.skill-sec{
    font-size: 1rem;
    font-weight: 400;
}

.skill-img{
    justify-content: center;
    align-items: center;
    padding-top:12px ;
    padding-right: 10px;
    padding-left: 10px;
    
}

/* development platfrom */

.development{
   background-color: #000000;
   margin-top: 0px;
   
}

.small-skill{
    color: white;
    font-size: 1rem;
}

.title{
    text-align: center;
    justify-content: center;
   

}

.samll-skill-img{
    margin-top: 10px;
    padding-right: 10px;
}

.deve-title{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0px;
}
.teacher{
    justify-content: center;
    gap: 43px;
}

.teacher-desc{
    color: white;
}


.course-name{
    color: white;
    font-size: 1rem;
    margin-bottom: 0px;
}

.course-number{
    margin-top: 0px;
    color: #676F7C;
}

.course{
    max-width: 250px;
    /* box-shadow: 5px 10px 8px 10px #676F7C; */
    background-color: #111827;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    
}

.course-info{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   margin-left: 165px;
   margin-right: 160px;
   
}
.sp-title, .sp-desc{
color: white;
padding-left:10px ;
}
.go-link{
    color: #43BB76;
    padding-left:10px ;
    margin-top: 0px;
}

/* .special-course{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 120px;
} */

.special-course{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    margin-left: 165px;
   margin-right: 160px;
   margin-top: 30px;
}

.spe-container{
    background-color: #111827;
    max-width: 270px;
    
}

.sp-title{
    font-size: 1rem;
    font-weight: 600;

}

.sp-desc{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0px;
}


.cen-btn{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 100px;
    
}

/* footer section */
footer{
    background-color: #000000;
}
.jj{
    
    background-color: #121220;
    margin-left: 132px;
    margin-right: 132px;
    justify-content: center;
    align-items: center;
}

.fot-title{
    color: #676F7C;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 100px;
}

.company{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;

}

.com-img{
    filter:grayscale(1);
}


@media screen and (max-width:576px){
    .company{
        grid-template-columns: repeat(1,1fr);
        /* padding-left: 50px; */
        text-align: center;
    }
    .fot-title{
       /* padding-left: 70px; */
       margin-right: 0px;
    }

    .special-course, .course-info{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
       margin-left: 100px;
       margin-right: 100px;
    }
    .cen-btn, .cen{
       
       margin-right: 0px;
       justify-content: center;
       align-items: center;
    }
    .cen-btn{
        /* padding-left: 30px; */
    }

    .skill-container{
       grid-template-columns: repeat(1, 1fr);
       margin-right: 0px;
       margin-left: 0px;
       justify-content: center;
    }

    .skill-section{
      margin: 0px auto;
      margin-right: 30px;
        margin-left: 30px;
    }

    .discount-container{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        gap: 0px;
        flex-direction: column;
        text-align: center;
    }

    .headere-section {
        flex-direction: column;
      }
      .logo{
        width: 100%;
      }
      .headaer-btn-section{
        flex-direction: column;
        text-align: center;
      }
      .ho{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
      }

      .hm {
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }


   
}

@media screen and (min-width:576px) and (max-width:990px){
    .company{
        grid-template-columns: repeat(1,1fr);
        /* padding-left: 50px; */
        text-align: center;
    }
    .fot-title{
       /* padding-left: 70px; */
       margin-right: 0px;
    }

    .special-course, .course-info{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 50px;
    }

    .cen-btn, .cen{
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .skill-container{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 0px;
        margin-left: 0px;
     }

     .skill-section{
        margin: 0px auto;
        margin-right: 30px;
        margin-left: 30px;
      }
      .discount-container{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        gap: 0px;
        flex-direction: column;
        text-align: center;
    }

      


}